html, body{
    margin:auto 0;
    padding:0;
    z-index:0;
    height:100%;
}
html{
    box-sizing: border-box;
}
body{
    min-height:100%;
    font-family: "Ubuntu", sans-serif;
    background: #030303;
}
header, footer{
    background-color: #fdfdfd;
}
header{
    margin-top:0;
}
footer{
    text-align:center;
    padding:5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:2;
}
h1{
    text-align:center;
    padding:10px;
    margin:0;
}
.blurb{
    color:#fdfdfd;
    padding:20px;
    line-height: 1.5rem;
    text-align:center;
}

/* NAVBAR */
.topnav {
    background-color: #cc1f00;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #fdfdfd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav .icon {
    display: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 17px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(253,253,253, 0.3);
    color: white;
    cursor:pointer;
}
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child),
    .topnav .dropdown{
        display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {
        float: none;
        display:block;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
    }
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  @media screen and (min-width: 600px){
      .topnav{
          display:flex;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          justify-content:center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
           -ms-justify-content: center;
                 -ms-flex-pack: center;
      }
  }