html, body{
    margin:auto 0;
    padding:0;
    z-index:0;
    height:100%;
}
html{
    box-sizing: border-box;
}
body{
    min-height:100%;
    font-family: "Ubuntu", sans-serif;
    background: #030303;
}
header, footer{
    background-color: #fdfdfd;
}
header{
    margin-top:0;
}
footer{
    text-align:center;
    padding:5px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:2;
}
h1{
    text-align:center;
    padding:10px;
    margin:0;
}
.blurb{
    color:#fdfdfd;
    padding:20px;
    line-height: 1.5rem;
    text-align:center;
}
#mainBtn{
    height:30px;
    line-height:26px;
    text-align:center;
    background-color:tomato;
    color:#fdfdfd;
}
#mainBtn:hover{
    animation: tomatoing .5s ease-in;
    background-color: #cc1f00;
    font-weight:bold;
}
@keyframes tomatoing {
    from {background-color: tomato;}
    to {background-color: #cc1f00;}
}
/*Modal Menu Styles*/
.modal{
    display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 86px;
    width: 100%;
    height: calc(100% - 28px); 
    background-color: #fdfdfd;
}
#modal-content {
    margin: 0;
    width: 100%;
    height: calc(100% - 28px);
}
#modal-menu{
    font-size: 1.2rem;
    list-style: none;
    padding:0;
    margin:0;
}
#modal-menu li{
    width:100%;
    text-align:center;
}
.menu-div{
    padding:10px;
}

#modal-menu li a{
    text-decoration:none;
    color: #030303;
}
#modal-menu li a:hover{
    text-decoration:none;
    font-weight: bold;
}
.close {
    color: tomato;
    outline:none;
    border:none;
    font-size: 28px;
    font-weight: bold;
    float:right;
    padding-right:10px;
}
.close:hover,
.close:focus {
    color: #030303;
    cursor: pointer;
}