body{
    font-family: 'Roboto', sans-serif;
}
#dateField{
    text-align:center;
    font-weight:bold;
}
.clearfix::before{
    content:"";
    clear:both;
    display:table;
    overflow:hidden;
}

h1{
    text-align:center;
}
form{
    margin: 0 auto;
    text-align:center;
    padding:10px;
}
#output{
    min-height:100vh;
    width:100%;
}

ul li{
    list-style:none;
    padding:10px;
}
li a{
    font-size:1.5rem;
}
.desc{
    display:block;
    margin-top:5px;
}
.source{
    font-style: italic;
}

@media (max-width:360px){
    body{
        padding:10px;
    }
    ul {
        margin-left: -35px;
    }
    input{
        display:block;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
    }
    #search{
        border: 1px solid #cccccc;
    }
}
