body{
    margin:0 auto;
    font-family:'Roboto', sans-serif;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
h1{
    text-align: center;
}
form{
    margin-right:auto;
    margin-left:auto;
}
label{
    margin-right:auto;
    margin-left:auto;
    margin-bottom:10px;
    display:block;
    text-align:center;
}
input{
    border:1px solid #cccccc;
    margin-bottom:10px;
    margin-right:auto;
    margin-left:auto;
}
button{
    display:block;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#photos{
    margin-top:20px;
    width:90%;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
#photos ul,
#photos li{
    list-style: none;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
#photos li{
    margin-bottom:5px;
}

@media (min-width:500px){
    #photos ul{
        margin-top:20px;
        width:100%;
        min-height:100vh;
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap:5px;
    }
    #photos ul {
        margin-left:-10px;
    }
}

@media (min-width:800px){
    #photos{
        display:flex;
        flex-direction:column;
        align-self:center;
        justify-content:center;
        margin-left:-60px;
    }
    #photos ul{
        margin-top:20px;
        width:100%;
        min-height:100vh;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap:5px;
    }
}
@media (min-width:1000px){
    #photos{
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    #photos ul{
        margin-top:20px;
        width:100%;
        min-height:100vh;
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap:10px;
    }
}
